* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: 0;
}

#currentDayForCurrency {
  text-align: center;
  margin: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
}

#currentDay {
  font-size: 1rem;
}

#currencyBackground {
  background-image: url(../assets/images/backgroundTwo.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#menu {
  background: transparent !important;
}

body div h2 span {
  color: orange;
}

header {
  background-image: url(../assets/images/front-page-background.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.country {
  color: black !important;
}

.currencyTitle {
  font-family: "Open Sans", sans-serif !important;
  font-size: 50px !important;
  text-transform: uppercase !important;
  color: #868a8f !important;
}

.dateSize {
  font-size: 15px !important;
}

.exchangeBtn {
  color: grey!important;
}

.fixed {
  padding-right: 8% !important;
  padding-left: 8% !important;
}

.location {
  font-size: 40px;
  text-transform: uppercase;
  color: gray;
}

.menu {
  border: 0px !important;
}

.navbar {
  background-color: transparent !important;
}

.rate2 {
  font-family: serif !important;
  font-size: 1.5rem !important;
  text-align: center;
  font-weight: 700 !important;
  position: relative;
  top: 40px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #5e5ba5;
  background: #5e5ba5;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

.ui.weather {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 50px;
}

.weatherBackground {
  background-image: url(../assets/images/weather-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.weatherTitle {
  font-family: "Open Sans", sans-serif !important;
  font-size: 50px !important;
  text-transform: uppercase !important;
  color: #868a8f !important;
}

@media (max-width: 798px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
  .weatherTitle {
    font-size: 30px !important;
  }
  .Welcome {
    font-size: 22px !important;
    position: relative;
    left: 93px;
  }
  .tagline {
    position: relative;
    left: 70px;
  }
}
