* {
  margin:0; padding: 0;
  box-sizing: border-box; -moz-box-sizing: border-box;
  outline: 0;
  
}
body {
  
}



header {
  background-image: url(../assets/images/front-page-background.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#menu {
  background: rgba(0, 3, 39, 0.39);
  box-shadow: 0px 15px 10px - 15px #111;
}

.text{
  margin-top: 200px;
}

.ui.weather {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 100px;
}


#weather-section {
  
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-width: fit-content;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;

  
}

.box{
  background-color: white;
  border-radius: 30px;
  align-items: center;
  padding: 10px;
}

.box > i{
  font-size: 14px;
  color:#777;
  cursor: pointer;
}












.menu{
  border: 0px!important;
}
.navbar{
  background-color: transparent !important; 
}

.sc-main.segment{
  min-height: 100vh;
}


.welcome {
  position: relative;
  top:120px;
  font-size: 20px!important;
  display:flex!important;
  right: 120px;
}

.slogan{
  position: relative;
  top: 67px;
  font-family: 'Raleway', sans-serif!important;
  right: 200px;
}
.title{
  font-size: 90px!important;
  position: relative;
  font-family: 'DM Serif Display', serif;
  right: -50px;
  top: 90px;
  display: flex;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.item{
  color: white !important;
}
body div h2 span{
  color: orange;
}

.sideBar{
  font-size: 10px;
}

.para {
  margin: 96px;
  font-family: ‘Raleway’, sans-serif;
  color: white;
  font-weight: 700;
  font-size: 20px;
  position: relative;
  top: -90px;
}
.btn {
  left: -380px;
  width: 150px;
  font-size: smaller;
  position: relative;
}
.selection {
  width: 45px;
  margin-bottom: 50px;
  align-self: center;
}
#curConverterBtn{
  top: 70px;
  box-shadow: 0.5px 1px 4px black;
  background-color: orange;
  border-radius: 15px;
}
#liveWeatherBtn{
  top: -50px;
   border: 0.1px white;
   border-radius: 15px;
}

input {
  border-radius: 25px;
}
/*
Moved to allign to the middle section of the page Rk
*/

h4 {
  font-size: 36px;
  font-style: inherit;
  text-align: center;
  
}


#center-currency{
  position: relative;
  top: 400px;
  left: 60px;
  right: 10px ;
  bottom: 10px ;
  
}




#liveWeatherBtn{
  top: 70px;
  box-shadow: 1px 1px 10px black;
   border: 0.1px white;
   border-radius: 15px;
}

input {
  border-radius: 25px;
}

i.home .icon{
  width:10px;
}
.item .home{
  margin: 100px!important;
}

.containe{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cardd{
  position: relative;
  width: 500px;
  height: 530px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  top: -1100px;
}

.cardd:before{
 content: '';
 position: absolute;
 width:100%;
 height: 270px;
 top: 0;
 left: 0;
 background-image: linear-gradient(to top, #00f2fe, #4facfe);
 clip-path: circle(400px at 50% -48.5%)
}
.headerr{
  position: relative;
  height: 265px;
}
.mainn{
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.conten{
  display: flex;
  padding: 1.7rem 2.5rem 2.6rem 2.5rem;
}

.rightt{
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: 10.1rem;
}

.number{
  font-size: 2.1rem;
  font-family: 'Playfair Display', serif;
  font-weight: 200;
  color: #333;
  line-height: 1.2;
}

.number-title{
  font-size: .55rem;
  color: #666;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.temp{
  color:#555;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  font-size: 4.1rem;
  padding: 0 0 3px 0;
  position: relative;
  left: 50px;
}
.fixed{
  padding-right: 8%!important;
  padding-left: 8%!important;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  height: 36px;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
 
  left: 50%;
  transform: translate(-50%, -50%);
}

/*.item{
  color: white;
  margin-right: 20px;
  padding: 0px 10px;
  word-wrap: normal;
  position: relative;
  left: 1350px;
  top: 25px;
}
/*
.logo{
  margin-top: 30px;
  width: 100px;
  height: 100px;
  margin-left: 50px;
  border: 2px solid purple;
  display: inline-block;
}
*/





@media (max-width: 798px) {
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
}

@media (min-width: 798px) {
  .secondary.pointing.menu .toc.item {
    display: none;
  }

}

@media (max-width: 375px){
  /*smaller phone*/
}


@media only screen and (max-width: 700px){

.secondary.pointing.menu .toc.item {
    display: block;
}
}
