* {
  margin:0; padding: 0;
  box-sizing: border-box; -moz-box-sizing: border-box;
  outline: 0;
}
body {
  background-image: url(../assets/images/front-page-background.png)!important;
  background-size: cover;
  min-height: 500px;
  padding: 0em 0em;
  background-repeat: no-repeat;
}
.menu{
  border: 0px!important;
}
.navbar{
  background-color: transparent !important;
}
.welcome {
  position: relative;
  top:100px;
  font-size: 20px;
  display:flex;
}
.title{
  margin: 90px 90px;
  font-size: 90px;
  position: relative;
  top: 20px;
  display: flex;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
.item{
  color: white !important;
}
body div h2 span{
  color: orange;
}
.para {
  margin: 96px;
  font-family: ‘Raleway’, sans-serif;
  color: white;
  font-weight: 700;
  font-size: 20px;
  position: relative;
  top: -90px;
}
.btn {
  left: 100px;
  width: 150px;
  font-size: smaller;
  position: relative;
}
.selection {
  width: 45px;
  margin-bottom: 50px;
  align-self: center;
}
#curConverterBtn{
  top: -50px;
  background-color: orange;
  border-radius: 15px;
}
#liveWeatherBtn{
  top: -50px;
   border: 0.1px white;
   border-radius: 15px;
}

input {
  border-radius: 25px;
}
/*
Moved to allign to the middle section of the page Rk
*/

h4 {
  font-size: 36px;
  font-style: inherit;
  text-align: center;
  
}


#center-currency{
  position: relative;
  top: 400px;
  left: 60px;
  right: 10px ;
  bottom: 10px ;
  
}




/*.item{
  color: white;
  margin-right: 20px;
  padding: 0px 10px;
  word-wrap: normal;
  position: relative;
  left: 1350px;
  top: 25px;
}
/*
.logo{
  margin-top: 30px;
  width: 100px;
  height: 100px;
  margin-left: 50px;
  border: 2px solid purple;
  display: inline-block;
}
*/













